<div>
	<div class='access-code-container'>
		<h3 class='page-title'>Access Code</h3>
		<span id='access-code'>{{gameId}}</span>
	</div>
	
	<div class='players-container'>
		<h3 class='page-title'>Players</h3>
		<div class='player-card' ng-repeat='player in game'>
			<div class='player-card-info'>
				{{$index+1}}. {{player.name}}
				<span class='card__score'>{{player.score}}</span>
				<!-- <span class='card__delete'>X</span> -->
			</div>
		</div>
	</div>

	<button type="button" class="btn big btn-block" data-toggle="modal" data-target=".bs-example-modal-sm">Update Score</button>

	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-sm">
	    <div class="modal-content">
	      <div class='modal-body'>
	      	<input type='number' placeholder='NEW SCORE' ng-model='newPoints'><br />
	      	<input type='radio' name='calc' value='add' ng-model='calcFunc'>+
	      	<input type='radio' name='calc' value='minus' ng-model='calcFunc'>-<br />
	      </div>
	      <div class='modal-footer'>
	      	<button ng-click='updateScore()' data-dismiss="modal">Submit</button>
	      </div>
	    </div>
	  </div>
	</div>

</div>