<div>
	<h1 class='page-title'>NEW GAME</h1>
	<form name='newGameForm'>
		
		<h3>Points are...</h3>
		<div class='radio-btn-container'>
			<input type='radio' name='points' value='true' id='left-button' ng-model='newGame.pointsGood'>
				<label for='left-button'>Good</label>
			<input type='radio' name='points' value='false' id='right-button' ng-model='newGame.pointsGood'>
				<label for='right-button'>Bad</label>
		</div>

		<input class='input-field' type='number' placeholder='Enter ending score' ng-model='newGame.endingScore' required><br />
		
		<input class='input-field' type='text' placeholder='Enter your name' ng-model='newPlayer.name' required>
		<button class='btn big btn-block' type='submit' ng-click='createNewGame()' ng-disabled='newGameForm.$invalid'>Start Game!</button>
	</form>
</div>