<div>
	<h1 class='page-title'>NEW GAME</h1>
	<form name='newGameForm'>
		<h3>Points are...</h3>
		<div class='btn-container'>
			<div class="btn-group" data-toggle="buttons">
			  <label class="btn btn-primary active">
			    <input type="radio" name="points" autocomplete="off" value='true' ng-model='newGame.pointsGood' required checked>Good
			  </label>
			  <label class="btn btn-primary">
			    <input type="radio" name="points" value='false' ng-model='newGame.pointsGood' required autocomplete="off">Bad
			  </label>
			</div>
		</div>
		
		<input class='input-field' type='number' placeholder='ENDING SCORE' ng-model='newGame.endingScore' required><br />
		
		<input class='input-field' type='text' placeholder='NAME' ng-model='newPlayer.name' required>
		<button class='btn big btn-block' type='submit' ng-click='createNewGame()' ng-disabled='newGameForm.$invalid'>Start Game!</button>
	</form>
</div>